* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: auto;
}

#header-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
}

#img-logo {
    width: 24px;
    height: 24px;
}

#chk-menu {
    display: none;
}

#hamburguer-menu-x {
    display: none;
}

.menu {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    background: #0000EC;
    transition: 0.5s;
    margin-top: -300px;
}

#chk-menu:checked~.menu {
    margin-top: 0;
}

#chk-menu:checked~#header-menu>#hamburguer-menu-x {
    display: block;
}

#chk-menu:checked~#header-menu>#hamburguer-menu {
    display: none;
}

.hamburguer-menu {
    cursor: pointer;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 5px;
    flex-direction: column;
    transition: 0.4s;
}

ul a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

ul li {
    margin: 10px;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    line-height: 42px;
    margin-left: 5%;
    margin-right: 25.6%;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin-left: 5%;
}

#world {
    text-decoration: line-through;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 22px;
    padding-left: 5%;
    padding-top: 0.3%;
}

.top p {
    margin-top: 20px;
    margin-bottom: 40px;
}

.top p::before {
    content: "Un podcast que explora el mundo de la programación. Nuevos episodios, todos los jueves cada 15 días.";
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #060A24;
    background: #00F3BB;
    width: 288px;
    height: 48px;
    border: 0;
}

.button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
}

.top {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 65px;
}

main {
    margin-top: 0.5%;
    width: 100%;
}

.main-bg {
    position: relative;
    padding-top: 50px;
    padding-bottom: 150px;
    margin-top: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon( 0% 5%, 100% 0, 100% 95%, 0 100%);
    transition: all 0.5s;
}

.main-bg h2 {
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    align-self: flex-start;
}

.spotifyFrames {
    display: flex;
    flex-direction: column;
}

.spotify-podcast {
    margin-bottom: 10px;
    width: 100%;
    height: 232px;
    border: 0;
    background-color: transparent;
}

.imagesInvitados {
    display: flex;
    flex-flow: column wrap;
}

.de-donde-venimos {
    margin-top: 30px;
    display: flex;
    flex-flow: column;
}

.de-donde-venimos h2 {
    margin-right: 5%;
}

.de-donde-venimos p {
    margin-top: 10px;
    margin-right: 5%;
}

.phone-image {
    position: relative;
    z-index: 9999;
    margin-top: -100px;
    display: flex;
    flex-flow: column nowrap;
}

.phone-image img {
    width: 320px;
    height: 519px;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #060A24;
    font-size: 14px;
    margin-top: 20px;
}

.social {
    font-size: 16px;
    padding: 25px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.temas h2 {
    color: #060A24;
    text-align: left;
    margin: 20px 0 0 20px;
}

.temas h3 {
    color: #060A24;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.theme {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 30px;
}

.novedades {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    height: 341px;
    clip-path: polygon( 0 15%, 100% 0%, 100% 100%, 0% 100%);
    /*Un cuadrado seria:
    0% 0%, vertice superior izquierdo (primer coordenada es el eje X, segunda el eje y)
    100% 0%, vertice superior derecho
    100% 100%, vertice inferior derecho
    0% 100%, vertice inferior izquierdo
    */
}

.novedades h2 {
    color: #FFFFFF;
    font-weight: lighter;
    text-align: center;
}

.invitados {
    display: flex;
    flex-flow: column wrap;
    margin-top: 45px;
}

.invitados img {
    width: 100%;
}

.social i:hover {
    transition: all 1s linear;
    transform: scale(1.5, 1.5);
}

.social a {
    color: #060A24;
}

@media screen and (min-width: 640px) {
    #img-logo {
        width: 36px;
        height: 36px;
    }
    #hamburguer-menu {
        display: none;
    }
    header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding-left: 6.9%;
        padding-right: 6.9%;
        padding-top: 0.7%;
        padding-bottom: 0.7%;
    }
    .menu {
        background: unset;
        display: flex;
        margin-top: 0;
    }
    .menu ul {
        flex-direction: row;
    }
    ul a {
        color: #060A24;
    }
    ul a:hover {
        color: #00F3BB;
        text-decoration: line-through;
    }
    ul a:active {
        text-decoration: line-through;
        color: #060A24;
        opacity: 56%;
    }
    .top {
        align-items: flex-start;
        justify-content: space-around;
        margin-left: 13.9%;
    }
    h1 {
        font-size: 64px;
        font-weight: normal;
    }
    #dot {
        color: #0000EC;
    }
    .top p {
        margin-right: 43.5%;
    }
    .top p::before {
        content: "El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.";
    }
    .top .button {
        margin-left: 60px;
        width: 226px;
        height: 56px;
    }
    .invitados h2 {
        margin-bottom: 20px;
        margin-left: 13.9%;
    }
    .imagesInvitados {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    footer {
        font-size: 16px;
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
    }
    .social {
        font-size: 18px;
        justify-content: space-between;
        width: 30%;
    }
    .temas {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }
    .temas h2 {
        margin-bottom: 30px;
    }
    .theme-list {
        display: flex;
        flex-flow: row nowrap;
    }
    .main-bg h2 {
        align-self: flex-start;
        margin-left: 200px;
    }
    .main-bg {
        padding-top: 50px;
        padding-bottom: 200px;
        clip-path: polygon( 0% 8%, 100% 0, 100% 85%, 0 100%);
        transition: all 0.5s;
        border: 1px solid black;
        align-items: center;
    }
    .phone-venimos {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
    }
    .phone-image img {
        width: 457px;
        height: 660px;
        margin-top: -50px;
    }
    .de-donde-venimos {
        width: 32.2%;
        padding-left: 50px;
    }
    .de-donde-venimos h2 {
        font-size: 48px;
        margin-bottom: 15px;
    }
    .de-donde-venimos p {
        font-size: 16px;
    }
    .spotifyFrames {
        display: grid;
        grid-template-columns: 548px;
        grid-template-rows: repeat(4, 232px);
        grid-column-gap: 70px;
        grid-row-gap: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .spotifyFrames {
        display: grid;
        grid-template-columns: repeat(2, 548px);
        grid-template-rows: repeat(2, 232px);
        grid-column-gap: 70px;
        grid-row-gap: 50px;
    }
    .imagesInvitados {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}